body {
    margin: 0;
    min-height: 100vh;

    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240919/pngtree-a-background-of-orange-blue-and-yellow-gradients-with-gritty-appearance-image_16233934.jpg");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    
}